/*  Notebook - 1.0
 *
 *  File: app.css
 *  Author: Paulo Nunes, http://syndicatefx.com
 *  Source: https://github.com/syndicatefx/notebook
 *  License: MIT
 */
 :root {
    --brand: #376ed7;
    --bg: #f9f9f9;
    --muted: #f1f1f1;
    --text: #333;
}

@media (prefers-color-scheme: dark) {
    :root {
        --brand: #376ed7;
        --bg: #161616;
        --muted: #222;
        --text: #999;
    }
}

@font-face {
    font-family: 'IBMPlexMono';
    font-weight: 400;
    font-style: normal;
    src: url("IBMPlexMono-Regular.woff2") format("woff2");
    font-display: swap;
}

::selection {
    background-color: var(--muted);
}
  
:is(aside, textarea)::-webkit-scrollbar {
    width: 10px
}
:is(aside, textarea)::-webkit-scrollbar-track {
    background: transparent;
}
:is(aside, textarea)::-webkit-scrollbar-thumb{
    background-color: var(--brand);
    border: 2px solid var(--bg);
    border-radius: 6px;
}
:is(aside, textarea) {
    scrollbar-width: thin;
    scrollbar-color: var(--brand) transparent;
}

html {
    font-family: "IBMPlexMono", monospace;
    font-size: 100%;
    block-size: 100%;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeSpeed;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

* , *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    min-block-size: 100%;
    background-color: var(--bg);
    color: var(--text);
}

svg {
    max-block-size: 100%;
    pointer-events: none;
    display: block;
    margin-block: 2rem;
    margin-inline: auto;
}

button,
input,
textarea {
    appearance: none;
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    outline: none;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: var(--text);
    box-shadow: none;
    border: 0;
    border-radius: 0;
}

label, input {
    display: block;
    inline-size: min(100%, 24rem);
    margin-block-end: 2rem;
    margin-inline: auto;
}

label {
    font-size: .875rem;
    text-align: center;
    margin-block-end: .5rem;
}

button {
    user-select: none;
    -webkit-touch-callout: none;
    text-transform: uppercase;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: color 0.3s;
}

button:focus,
button:hover {
    color: var(--brand);
}

input {
    background-color: var(--muted);
    border-radius: 2rem;
    box-shadow: inset 0 0 2px hsl(0 0% 0% / 15%);
}

input:focus {
    box-shadow: 0 0 0 2px var(--brand);
}


.notebook {
    block-size: 100vh;
}

aside {
    inline-size: 100%;
    block-size: 100%;
    padding: 10vmin 5vw;
    overflow-y: auto;
    background-color: var(--bg);
}

ul {
    max-width: 24rem;
    list-style: none;
    margin-block-end: 4rem;
    margin-inline: auto;
}

li {
    position: relative;
    display: flex;
    align-items: center;
    margin-block: 0.5rem;
}

li > button:first-of-type {
    inline-size: 100%;
    text-transform: none;
    align-items: start;
    justify-content: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-inline: 0;
}

li > button:last-child,
li > div button:first-child {
    margin-inline-start: auto;
}

li > button:last-child {
    font-size: 1.5rem;
    line-height: 1;
}

li > div {
    position: absolute;
    inline-size: 100%;
    block-size: 100%;
    display: flex;
    align-items: center;
    background-color: var(--bg);
}

main {
    block-size: 100vh;
}

main > div {
    position: relative;
    inline-size: 100%;
    block-size: 100%;
    background-color: var(--bg);
}

main button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--bg);
}

textarea {
    line-height: 1.65;
    inline-size: 100%;
    block-size: calc(100vh - 80px);
    padding: 10vmin max(1rem, 50vw - 60ch / 2);
    resize: none;
    caret-color: var(--brand);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: end;
    inline-size: 100%;
    padding: 1rem;
    background: var(--muted);
    box-shadow: inset -1px 0 2px hsl(0 0% 0% / 15%);
}

footer div {
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: var(--brand);
    margin-inline-end: auto;
}

footer button {
    padding-block: 0;
}